#bus a {width:0; height:0; text-indent:-2000px; display:block;}
#doc #bus ol {margin:0; padding:0; font-size:12px;}
#doc #bus #weather ol li {width:53px; padding-top:30px;}
#doc #bus #weather ol li .state {width:0; height:0; text-indent:-2000px; display:block;}
#doc #bus #weather .clear {background:url('http://jejunubus.hosting.paran.com/images/sun1.png') no-repeat center 0; }
#doc #bus #weather .partly_cloudy {background:url('http://jejunubus.hosting.paran.com/images/partly Cloudy1.png') no-repeat center 0; }
#doc #bus #weather .mostly_cloudy {background:url('http://jejunubus.hosting.paran.com/images/partly Cloudy1.png') no-repeat center 0; }
#doc #bus #weather .cloudy {background:url('http://jejunubus.hosting.paran.com/images/cloudy1.png') no-repeat center 0; }
#doc #bus #weather .rain {background:url('http://jejunubus.hosting.paran.com/images/rain1.png') no-repeat center 0; }
#doc #bus #weather .snow_rain {background:url('http://jejunubus.hosting.paran.com/images/snowRain1.png') no-repeat center 0; }
#doc #bus #weather .snow {background:url('http://jejunubus.hosting.paran.com/images/snow1.png') no-repeat center 0; }
#doc #bus div{margin-left:20px; margin-right:20px;}
#bus div ol li {display:none;}
#bus div ol li.on {display:block;}