*
{
	padding:0;
	margin:0;
}

#boardform
{
	float:left;
	width:350px;
	margin-right:auto;	
	margin-left:auto;
	height:auto;
	margin:5px;
}

#writeform
{
	float:left;
	width:340px;
	padding:3px;
	height:auto;
	margin-bottom:10px;
	background-color:aliceblue;
}

.viewform
{
	float:left;
	width:340px;
	padding:3px;
	height:50px,auto;
	word-break:break-all;
	background-color:aliceblue;
	margin-bottom:10px;
}

#pageform
{
	float:left;
	text-align:center;
	width:100px;
	height:auto;
	background-color:aliceblue;
	margin-left:120px;
	margin-right:120px;
	font-size:20px;
	margin-bottom:40px;
}	

.backpage
{
	float:left;
	text-align:left;
}

.nextpage
{
	float:right;
	text-align:right;
}

.name
{
	float:left;
	width:auto;
	margin-top:3px;
	margin-left:3px;	
}

.submit
{
	float:right;
	width:80px;
	height:auto;
	margin-top:3px;
	margin-right:3px;
	word-break:break-all;
}

.content
{
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:330px;
	height:auto;
	margin-top:5px;
	margin-bottom:5px;
	overflow:inherit;
}
