
#schedule ul{
	list-style-type: none;
	float: left;
}

#information{
	clear: both;
	float: right;
}

.stopByDormitory{
	color: #FF0000;
}

#back{
	frameborder: 0;
	width: 0;
	height: 0;
}
